:root {
  --color1: #6c63ff;
  --color2: #f5f2fe;
  --color3: #231f20;
  --color4: #4b46a8;
  --color5: #b6b2ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  background: var(--color3);

  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color2);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.home-page-featured {
  color: white;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--color1);
  box-shadow: var(--color1);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color1);
  border: 1px solid var(--color1);
}

.homepage-link {
  color: var(--color1);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--color1);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
#home-page-columns,
#work-page-columns {
  padding-top: 40px;
  padding-bottom: 40px;
}

#home-page-app-images,
#work-page-app-images {
  height: 100%;
  width: 100%;
}
#home-page-app-description,
#work-page-app-description {
  border-radius: 20px;
  background: var(--color3);
  padding: 20px;
}
#app-title {
  color: var(--color1);
}

#app-description {
  color: var(--color2);
}
.spacer {
  margin: 100px;
}
#about-page-description {
  color: var(--color2);
}
#profile-image {
  width: 200px;
  border-radius: 20px;
  margin-left: 100px;
}
#about-me-grid-container {
  background-color: var(--color3);
  border-radius: 30px;
  /* border: 2px solid var(--color1); */
  padding: 20px;
  margin-top: 50px;
}
.aboutMeMyProjects {
  display: block;
  margin: auto;
  background-color: var(--color1);
  color: var(--color2);
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 40px;
  transition: all 200ms ease-in-out;
}
.aboutMeMyProjects:hover {
  background-color: var(--color2);
  color: var(--color1);
}
#about-page-description {
  font-size: 20px;
}
.contactsContainer {
  text-align: center;
  color: var(--color2);
  margin: 50px;
  font-size: 20px;
  background-color: var(--color3);
}
.contactsUL {
  padding: 0;
}
.contactsLI {
  padding: 10px;
  list-style: none;
}
.about-me-project-container {
  text-align: center;
  margin: 40px;
}
.footer {
  text-align: center;
  margin: 50px;
  margin-bottom: 20px;
  padding: 40px;
  background-color: var(--color3);
}
#socialsLogo {
  width: 50px;
  margin: 20px;
  margin-bottom: 40px;
  filter: invert(90%);
}
#socialsLogo:hover {
  filter: opacity(50%);
}
.footerCodedBy {
  color: var(--color2);
  margin: 20px;
}
.footerCodedBy a {
  color: var(--color1);
}

@media (max-width: 950px) {
  #home-page-app-images,
  #work-page-app-images {
    height: auto;
    width: auto;
  }
}

@media (max-width: 450px) {
  #home-page-header {
    font-size: 25px;
  }
  #home-page-name {
    font-size: 45px;
  }
  #home-page-location {
    font-size: 20px;
  }
  #home-page-app-images {
    margin-top: 20px;
  }
  #home-page-columns,
  #work-page-columns {
    margin-bottom: 10px;
  }
  #about-page-title {
    font-size: 25px;
  }
  #about-page-location {
    font-size: 20px;
    background-color: var(--color3);
  }
  #about-page-contact-title {
    font-size: 25px;
  }
  #about-page-contact-email {
    font-size: 20px;
  }
  #home-page-app-description,
  #work-page-app-description {
    text-align: center;
  }

  .footer {
    margin: 0;
    margin-bottom: 20px;
  }
}
